.property {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px -2px rgb(0, 0, 0);
}

p {
    margin-top: 10px;

    code {
        padding: 5px;
    }

    .icon-examples {
        cursor: pointer;
        display: block;
        white-space: pre-wrap;
        margin: 10px auto;
        max-width: 340px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;

        &:hover {
            color: #6db8f5;
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .code-note {
        padding: 2px 5px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #6db8f5;
        border-radius: 5px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
}

#styles {
    [type='submit'] {
        margin: 10px auto;
        width: 150px;
    }

    #styles-inputs input {
        width: 40%;
    }

    #code-styles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .code-style {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: left;
        width: 50%;
        padding: 2px;

        code {
            width: 100%;
        }

        i {
            cursor: pointer;
            position: absolute;
            right: 0;
            font-size: 1em;
        }
    }
}

#create-toast {
    margin-bottom: 40px;
    width: 100%;
    max-width: 250px;
}

.dk__toast.toast {
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    box-shadow: 0 1px 10px -5px #000;
    text-shadow: none;
}

.dk__toast.huge {
    padding: 100px;
}
